@model avizevimde.Areas.Tuketici.Models.oda

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Tuketici/Views/Shared/_Layout";
}

<h2>Details</h2>

<fieldset>
    <legend>oda</legend>
    
         @Html.HiddenFor(model => model.tuketiciId)
    <div class="display-label">
         @Html.DisplayNameFor(model => model.resim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.resim)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.resimAdi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.resimAdi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.odaAlani)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.odaAlani)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.odaYukseklik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.odaYukseklik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eklenmeTarihi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eklenmeTarihi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.degistirmeTarihi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.degistirmeTarihi)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
