@model avizevimde.Areas.Tuketici.Models.soru

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>soru</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tuketici.tuketiciAdi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tuketici.tuketiciAdi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.soyadi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.soyadi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.baslik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.baslik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.icerik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.icerik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eklenmeTarihi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eklenmeTarihi)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
