@model avizevimde.Areas.Admin.Models.logo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

                              <div>
                    <ul class="breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "AdminAnasayfa")<span class="divider">/</span>
                        </li>
                        <li>
                            @Html.ActionLink("Logo", "Index", "Logo")<span class="divider">/</span>
                        </li>  
                        <li>
                            @Html.ActionLink("Düzenle", "Edit", "Logo")
                        </li>  
                    </ul>
            </div>


 			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-edit"></i>Logo Detaylar</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal">
                    @using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend>logo</legend>

                            @Html.HiddenFor(model => model.Id)

                            <div class="editor-label">
                                @Html.LabelFor(model => model.aciklamasi)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.aciklamasi)
                                @Html.ValidationMessageFor(model => model.aciklamasi)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.url)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.url)
                                @Html.ValidationMessageFor(model => model.url)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.varsayilan)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.varsayilan)
                                @Html.ValidationMessageFor(model => model.varsayilan)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.alt)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.alt)
                                @Html.ValidationMessageFor(model => model.alt)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.tanim)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.tanim)
                                @Html.ValidationMessageFor(model => model.tanim)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.anahtarKelime)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.anahtarKelime)
                                @Html.ValidationMessageFor(model => model.anahtarKelime)
                            </div>
                            
                            <p>
                                <input type="submit" value="Save" />
                            </p>
                        </fieldset>
						</form>
					</div>
				</div><!--/span-->

			</div><!--/row-->
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
