@model avizevimde.Areas.Admin.Models.smsMontajci

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>smsMontajci</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.montajciId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.montajciId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.smsTarihi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.smsTarihi)
    </div>
        
    <div class="display-label">
         @Html.DisplayNameFor(model => model.baslik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.baslik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.icerik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.icerik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.smsNumara)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.smsNumara)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eklenmeTarihi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eklenmeTarihi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ekleyen.adminAdi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ekleyen.adminAdi)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
