@model avizevimde.Areas.Tuketici.Models.sepet

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Tuketici/Views/Shared/_Layout";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>sepet</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.tuketiciId, "tuketici")
        </div>
        <div class="editor-field">
            @Html.DropDownList("tuketiciId", String.Empty)
            @Html.ValidationMessageFor(model => model.tuketiciId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.urunAdedi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.urunAdedi)
            @Html.ValidationMessageFor(model => model.urunAdedi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tuketiciOdaId, "oda")
        </div>
        <div class="editor-field">
            @Html.DropDownList("tuketiciOdaId", String.Empty)
            @Html.ValidationMessageFor(model => model.tuketiciOdaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eklenmeTarihi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eklenmeTarihi)
            @Html.ValidationMessageFor(model => model.eklenmeTarihi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.degistirmeTarihi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.degistirmeTarihi)
            @Html.ValidationMessageFor(model => model.degistirmeTarihi)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
