@model avizevimde.Areas.Admin.Models.blog

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

       <div>
                    <ul class="breadcrumb">
                        <li>
                            @Html.ActionLink("Home", "Index", "AdminAnasayfa")<span class="divider">/</span>
                        </li>
                        <li>
                            @Html.ActionLink("Blog", "Index", "Blog")<span class="divider">/</span>
                        </li>  
                        <li>
                            @Html.ActionLink("Yeni", "Create", "Blog")
                        </li>  
                    </ul>
            </div>
    
    

 			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-edit"></i>Yeni Kayıt</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal">
                            <fieldset>
                                <legend></legend>
                                <div>
                                     @Html.ActionLink("Back to List", "Index")
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.baslik)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.baslik)
                                    @Html.ValidationMessageFor(model => model.baslik)
                                </div>
                                        
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.icerik)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.icerik)
                                    @Html.ValidationMessageFor(model => model.icerik)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.anahtarKelime)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.anahtarKelime)
                                    @Html.ValidationMessageFor(model => model.anahtarKelime)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.alt)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.alt)
                                    @Html.ValidationMessageFor(model => model.alt)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.resim1)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.resim1)
                                    @Html.ValidationMessageFor(model => model.resim1)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.resim2)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.resim2)
                                    @Html.ValidationMessageFor(model => model.resim2)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.resim3)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.resim3)
                                    @Html.ValidationMessageFor(model => model.resim3)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.resim4)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.resim4)
                                    @Html.ValidationMessageFor(model => model.resim4)
                                </div>

                                <p>
                                    <input type="submit" value="Create" />
                                </p> 
                            </fieldset>	 
						</form>
					</div>
				</div><!--/span-->

			</div><!--/row-->
                            
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
