@model IEnumerable<avizevimde.Models.oneri>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eklenmeTarihi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eklenmeTarihi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
