@model avizevimde.Areas.Admin.Models.RegisterModel
@{
    ViewBag.Title = "UyeOl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td id="center" valign="top">
                <div id="center_top">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr></tr>
                    </table>
                </div>
                <div id="center_middle">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td id="middle_center" valign="top">
                                <div id="register" class="module">
                                    <div id="module_content">
                                        <div id="module_title">
                                            <span><span id="module_title_icon"></span>Üye Ol</span>
                                        </div>
                                        <fieldset>
                                            <legend>Registration Form</legend>
                                            <ol>
                                                <li>
                                                    @Html.LabelFor(m => m.UserName)
                                                    @Html.TextBoxFor(m => m.UserName)
                                                </li>
                                                <li>
                                                    @Html.LabelFor(m => m.Password)
                                                    @Html.PasswordFor(m => m.Password)
                                                </li>
                                                <li>
                                                    @Html.LabelFor(m => m.ConfirmPassword)
                                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                                </li>
                                            </ol>
                                            <input type="submit" value="Register" />
                                        </fieldset>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
    </table>
}