@model avizevimde.Areas.Uretici.Models.urun2

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Uretici/Views/Shared/_Layout.cshtml";
}

         			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-edit"></i>Ürün Detayları</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal">

                        <fieldset>
                            <legend>urun2</legend>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.adi)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.adi)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.aciklamasi)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.aciklamasi)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.url)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.url)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.stokAdedi)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.stokAdedi)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.izlenmeSayisi)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.izlenmeSayisi)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.alt)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.alt)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.seo)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.seo)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.eklenmeTarihi)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.eklenmeTarihi)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.ekleyenId)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.ekleyenId)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.degistirmeTarihi)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.degistirmeTarihi)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.degistirenId)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.degistirenId)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.fiyat)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.fiyat)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.urunBilgileriDegistirilenId)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.urunBilgileriDegistirilenId)
                            </div>

                            <div class="display-label">
                                 @Html.DisplayNameFor(model => model.urunBilgileriDegistirlenEnYeni)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.urunBilgileriDegistirlenEnYeni)
                            </div>
                        </fieldset>
						</form>
					</div>
				</div><!--/span-->

			</div><!--/row-->
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
