@model avizevimde.Areas.Tuketici.Models.stoktaOlursa

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>stoktaOlursa</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.urunId, "urun")
        </div>
        <div class="editor-field">
            @Html.DropDownList("urunId", String.Empty)
            @Html.ValidationMessageFor(model => model.urunId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eklenmeTarihi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eklenmeTarihi)
            @Html.ValidationMessageFor(model => model.eklenmeTarihi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tuketiciId, "tuketici")
        </div>      
          @Html.HiddenFor(model => model.tuketiciId)


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
